/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Nextflow config file for AMST2 workflow
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    // input and output_path (user input )
    input= "/home/tatiana/input_amst/input"
    outdir = "/home/tatiana/results_squirrel"

   // pre-alignment paramaters to change

    gaussian_sigma =  2
    z_step0 = 1
    z_step1 = 8
    init_offset_meth = "init_elx"
    transform = "translation"
    automask = "non-zero"
    keepmeta=0
    batch_size=8
    
    // AMST2

    median_radius=7
    transform_amst="bspline"
    default_elastix="elastix-params-amst-gs256.txt"
    elx="FinalGridSpacingInPhysicalUnits:128 GridSpacingSchedule:2.0,1.4,1.2,1.0"
    out_amst="transforms.json"  // Keep only this one

   // fixed parameters

    folder_sbs="sbs_align"
    folder_nsbs="nsbs_align" 
    folder_amst="amst"
    out_json0= "sbs.json"
    out_json1= "nsbs.json"
    output_sbs="sbs_aligned"
    json4="prealigned.json"

}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

profiles{
    conda_wsl { 
      conda.enabled=true
      process.conda='/home/tatiana/miniconda3/envs/squirrel-env-nov25'
      }

    conda_tier1{
      process.executor= "slurm"
      conda.enabled = true
      singularity.enabled= false
      docker.enabled=false
      }

    conda_tier2{
      process.executor= "slurm"
      conda.enabled = true
      singularity.enabled= false
      docker.enabled=false
    }
    // to do
    //apptainer_tier1{}
    //apptainer_tier2{}
}
