config {

    testsDir "tests"
    workDir "/home/tatiana/workdir_nextflow"
    //configFile "/home/tatiana/hackathon_leuven_2024/careamics_poc/modules/predict/tests/nextflow.config"
    configFile "modules/local/stack_alignment/tests/nextflow.config"
    //configFile "modules/train_n2n_care/tests/nextflow.config"
    profile ""

}

