config {

    testsDir "tests"
    workDir "/home/tatiana/workdir_nextflow"
    //configFile "modules/local/apply_multi_stack_alignment/tests/nextflow.config"
    //configFile "modules/local/stack_alignment/tests/nextflow.config"
    //configFile "modules/local/matrices_op/tests/nextflow.config"
    //configFile "modules/local/generate_elx_params/tests/nextflow.config"
    configFile "modules/local/amst/tests/nextflow.config"
    profile ""

}

