process {
    withName: 'ELASTIX_STACK_ALIGNMENT' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            pattern: '*.{json}'
        ]
        ext.args =  [
            "--determine_bounds",
            "--initialize_offsets_method", "${params.init_offset_meth}",
            "--gaussian_sigma", "${params.gaussian_sigma}",
            "--transform", "${params.transform}",
            "--auto_mask", "${params.automask}",
            "--z_step", "${params.z_step0}"
        ].join(' ').trim()
    }

    withName: 'ELASTIX_APPLY_MULTI_STACK_ALIGNMENT' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
        ext.args =  [
            "--auto_pad"
        ].join(' ').trim()
    }

    withName: 'ELASTIX_STACK_ALIGNMENT_2' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            pattern: '*.{json}'
        ]
        ext.args =  [
            "--gaussian_sigma", "${params.gaussian_sigma}",
            "--transform", "${params.transform}",
            "--auto_mask", "${params.automask}",
            "--z_step", "${params.z_step1}"
        ].join(' ').trim()
    }

    withName: 'LINALG_OP' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            pattern: 'prealigned.json'
        ]
        ext.args = [
            "--keep_meta", "${params.keepmeta}"
         ].join(' ').trim()
    }
       withName: 'MERGE_JSON' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            pattern: '*.json'
        ]
    }
       withName: 'SQ_GENERATE_ELASTIX' {
        publishDir = [
            path: {"${params.outdir}/amst"},
            mode: 'copy',
            pattern: 'elastix-params-amst-gs256.txt'
        ]
    }
       withName: 'SQ_AMST' {
        publishDir = [
            path: {"${params.outdir}/amst"},
            mode: 'copy',
            pattern: 'transforms.json'
        ]
        ext.args =  [
            "--gaussian_sigma", "${params.gaussian_sigma}",
            "--transform", "${params.transform_amst}",
            "--median_radius", "${params.median_radius}"
        ].join(' ').trim()
    }
}
