params {
    outdir = 'test_results'
    basepath = '/home/tatiana'
}

process {
    resourceLimits = [
        cpus: 1,
        memory: '4.GB',
        time: '10.min'
    ]
    
    withName: 'LINALG_OP' {  
            ext.args= params.module_args
    }
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "${params.basepath}/miniconda3/envs/squirrel-env-nov25"
    }

  //  docker {
  //      docker.enabled = true
  //      docker.runOptions = '-u $(id -u):$(id -g)'
  //  }
    
  //  singularity {
  //      singularity.enabled = true
  //      singularity.autoMounts = true
  //      singularity.cacheDir = "${params.basepath}/.apptainer/cache"
  //      singularity.tmpDir = "${params.basepath}/.apptainer/tmp"
  //      process.container = 'community.wave.seqera.io/library/careamics:0.0.16--973e324f2f759ff5'
  //  }
}